@import (reference) 'variables.less';
@import url( 'small.less' );
@import url( 'medium.less' ) screen and ( min-width:768px );
@import url( 'large.less' ) screen and ( min-width:1024px );

@media screen and (min-width:1156px) {
    header .header-banner,
    section .steps .content,
    .admin-container,
    .content-container,
    footer {
        padding-left: 0;
        padding-right: 0;
    }

    header .header-banner h1 {
        font-size: 80px;
    }

    section .steps.reverse .mobile-frame-wrapper {
        margin-right: 71px;
    }
}

@media screen and (min-width:1200px) {
    section .steps .mobile-frame-wrapper {
        margin-left: 0;
        margin-right: 104px;
    }

    .organiser-blocks {
        padding-left: 0;
        padding-right: 0;
    }
}

.logo {
    pointer-events: none !important;
}

@media screen and (min-width:1440px) {
    header {
        background-position: 0 center;
    }
}

@media screen and (min-width:1024px) and (min-height:738px) {
    header {
        min-height: calc(100vh - 10px);

        .header-banner {
            padding-top: calc(50vh - 280px);
        }
    }

    .slim-header header{
        min-height: initial;
    }
}

@media screen and (max-width:359px) {
    body {
        footer .footer-links .page-links li {
            font-size: 12px;
        }
    }
}

@media screen and (min-width:768px) {
    section {
        max-width: 100%!important;
    }

    .col-12 .col-6 {
        width: 100%!important;
    }
}

@media screen and (min-width:1024px) {
    section {
        max-width: 100%!important;
    }

    .col-12 .col-3 {
        width: calc(25% - 10px) !important;
    }

    .col-12 .col-6 {
        width: calc(50% - 10px) !important;
        max-width: 768px;
    }
}


.slim-header header {
    @media screen and (min-width:768px) {
        position: fixed;
        width: 100%;
        z-index: 9999;
        height: 80px;
    }

    @media screen and (min-width:1024px) {
        height: 100px !important;
    }
}


.leaderboard-container {
    padding: 20px;

    .leaderboard-content {
        width: 100%;
    }

    @media screen and (min-width:768px) {
        padding-top: 80px;
    }

    @media screen and (min-width:1024px) {
        padding-top: 100px !important;
    }

    .tournament-header {
        background: @white;
        width: 100%;
        margin-bottom: 14px;


        .tournament-h-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;
            background: @white;
            width: 100%;

            .tournament-l-cnt {
                .t-name {
                    font-size: 20px;
                    line-height: 36px;

                    @media screen and (min-width:1024px) {
                        font-size: 25px;
                    }
                }
            }
    
            .tournament-r-cnt {
                display: flex;

                .total-teams {
                    padding: 2px 12px 0 24px;
                    position: relative;
                    font-size: 12px;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background: url(@teams) no-repeat 0 0;
                        background-size: contain;
                    }
                }
            }
        }

        @media screen and (min-width:768px) {
            left: 0;
            z-index: 888;

            position: sticky;
            top: 80px;

            .tournament-h-details {
                &::after {
                    content: '';
                    width: calc(100% + 20px);
                    position: absolute;
                    left: -10px;
                    top: 0;
                    height: 100%;
                    z-index: -1;
                    background: @white;
                }
            }
        }

        @media screen and (min-width:1024px) {
            top: 100px;
        
            .tournament-h-details {
                margin: 0 auto;
                max-width: 100%!important;
            }
        }
    }

    .page-header {
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 40px;
        font-family: @actionGolfSemiBold;
        font-size: 32px;
        font-weight: 100;
        position: relative;
        display: inline-block;
        padding-right: 86px;

        @media screen and (min-width:768px) {
            margin-top: 20px;
        }

        @media screen and (min-width:1024px) {
            margin-top: 30px;
        }

        .lds-ellipsis {
            top: 5px;

            @media screen and (min-width: 1024px) {
                top: 14px;
            }
        }

        @media screen and (min-width: 1024px) {
            line-height: 52px;
            font-size: 42px;
            padding-right: 100px;
        }
    }

    .screen-message {
        padding: 20px 15px 20px 50px;
        margin: 20px 0;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
    
        &::after {
            width: 60px;
            height: 60px;
            content: '';
            display: block;
            position: absolute;
            background-size: cover;
            top: -12px;
            left: -12px;
            opacity: 0.1;
        }
    
        &.success-message {
            background-color: @successBg;
            border-color: @successBorder;
            color: @green;
    
            &::after {
                background-image: url(@successMessage);
            }
        }
    
        &.error-message {
            background-color: @errorBg;
            border-color: @errorBorder;
            color: @red;
    
            &::after {
                background-image: url(@errorMessage);
            }
        }
    }

    .leaderboard-details {
        .list-teams {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (min-width:1024px) {
                justify-content: flex-start;
            }
        
            .team-item {
                width: 100%;
                box-shadow: 2px 2px 6px #b5d3c5;
                margin: 0 0 20px;
                padding: 24px 12px 16px;
                border-radius: 12px;
                position: relative;
                min-height: 150px;
                overflow: hidden;

                &::before {
                    content: 'Position';
                    background: @brandColor;
                    color: @white;
                    padding: 0;
                    position: absolute;
                    top: 10px;
                    font-size: 12px;
                    line-height: 16px;
                    left: -15px;
                    transform: rotate(-45deg);
                    width: 67px;
                    text-align: center;
                }
        
        
                &.loading {
                    .item {
                        opacity: 0.5;
                    }
        
                    .lds-ellipsis {
                        display: block;
                    }
                }

                .rank {
                    position: absolute;
                    left: 5px;
                    width: 40px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    font-size: 12px;
                    padding-top: 2px;
                    margin-top: 5px;

                    @media screen and (min-width: 768px) {
                        width: 60px;
                        height: 40px;
                        font-size: 16px;
                    }

                    &.medal {
                        padding-top: 0;
                        width: 30px;
                        height: 30px;
                        align-items: center;
                        background: #56bc7b;
                        border-radius: 50%;
                        margin-left: 6px;

                        @media screen and (min-width: 768px) {
                            margin-left: 16px;
                        }
                    }

                    &.gold {
                        background: url(@gold) no-repeat center top;
                    }

                    &.silver {
                        background: url(@silver) no-repeat center top;
                    }

                    &.bronze {
                        background: url(@bronze) no-repeat center top;
                    }
                }

                .item-details {
                    position: relative;
                    margin: 0 0 0 40px;
                    display: flex;
                    flex-direction: column;

                    @media screen and (min-width: 768px) {
                        margin: 0 0 0 60px;
                    }

                    .photo-name-status-total {
                        justify-content: space-between;
                        display: flex;
                        padding: 0 0 12px;

                        .photo-name-status {
                            display: flex;
                            padding-right: 8px;
    
                            .name-status {
                                .name {
                                    padding: 0 0 4px;
                                    font-size: 20px;
                                    font-family: @actionGolfSemiBold;
                                }
            
                                .status {
                                    color: @brandColor;
                                    font-size: 14px;
                                }
                            }
    
                            .photo {
                                width: 60px;
                                aspect-ratio: 1 / 1;
                                margin-right: 8px;
                                position: relative;

                                @media screen and (min-width: 768px) {
                                    margin-right: 16px;
                                }
    
                                img {
                                    border-radius: 8px;
                                    width: 100%;
                                    height: 100%;
                                }
        
                                &.icon {
                                    img {
                                        visibility: hidden;
                                    }
        
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background: url(@playerIcon) no-repeat 0 0;
                                        width: 100%;
                                        aspect-ratio: 1 / 1;
                                        background-size: cover;
                                        border-radius: 8px;
                                    }
                                }
        
                            }
                        }
    
                        .total-score {
                            font-family: @actionGolfSemiBold;
                        }
                    }

                    .member-list {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .member {
                            width: calc(50% - 8px);
                            display: flex;
                            align-items: center;
                            margin-bottom: 8px;
                        }

                        .photo {
                            width: 30px;
                            height: 30px;
                            aspect-ratio: 1 / 1;
                            margin-right: 8px;
                            position: relative;

                            img {
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                            }
    
                            &.icon {
                                img {
                                    visibility: hidden;
                                }
    
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: url(@playerIcon) no-repeat 0 0;
                                    width: 100%;
                                    aspect-ratio: 1 / 1;
                                    background-size: cover;
                                    border-radius: 50%;
                                }
                            }
    
                        }

                        .name {
                            padding: 0;
                            font-size: 14px;
                        }
                    }
                }

                &:nth-child(2n) .player::after{
                    background-color: #0000ff;
                }

                &:nth-child(3n) .player::after{
                    background-color: @black;
                }
            }
        }
    }

    .leaderboard-ad-details {
        position: fixed;
        top:  100px;
        width: 300px;

        .ad-title {
            font-size: 30px;
            line-height: 32px;
            padding: 20px 0;

            span {
                font-family: @actionGolfSemiBold;
            }
        }
        .img-ad-p {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .img-ad {
                padding: 3px 10px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    float: left;
                }
            }
        }
    }

    .leaderboard-list-details {
        position: fixed;
        top:  100px;
        width: 300px;

        .positions-title {
            font-size: 20px;
            line-height: 32px;
            padding: 20px 0;
        }

        .lt {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 14px;

            div:first-child {
                width: 10%;
            }

            div:last-child {
                width: 80%;
            }
            .head {
                font-family: @actionGolfSemiBold;
            }
        }
    }
}
