<div class="download-app-section">
    <section>
        <h3>Download the App.<br/> Join the Family!</h3>
        <div class="download-buttons">
            <a target="_blank" title="Download on Apple Store" class="app-store" href="https://apps.apple.com/us/app/actiongolfers/id1580939995">Apple Store</a>
            <a target="_blank" title="Download on Google Play" class="google-play" href="https://play.google.com/store/apps/details?id=com.actiongolfers.actiongolf">Google Play</a>
        </div>
    </section>
</div>