<header>
    <section>
        <nav>
            <a class="logo" title="ActionGolfers">ActionGolfers</a>
            <div class="menu">
                <a href="#" class="hamburger m-hide">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <div class="menu-links s-hide">
                    <a href="./" title="Players">Players</a>
                    <a href="organizer.html" title="Organizers">Organizers</a>
                    <a href="nonprofit.html" title="Nonprofits">Nonprofits</a>
                    <a href="schedule-a-demo.html" title="Schedule Demo">Schedule Demo</a>
                </div>
            </div>
        </nav>
        <div class="header-banner">
            <div class="header-banner-content">
                {{#if home}}
                <h1>Tournament Golf <br/>On-Demand.</h1>
                <p>It is as easy as (1) open the app, (2) pick an available tournament, (3) enter and compete for prizes.  No longer do you have to belong to a club and have to play at a certain time or day.  ActionGolfers is your virtual club.</p>
                {{else}}
                <h1>Organized Golf Made Simple.</h1>
                {{/if}}
                <div class="header-buttons">
                    <a target="_blank" title="Download on Apple Store" class="app-store" href="https://apps.apple.com/us/app/actiongolfers/id1580939995">Apple Store</a>
                    <a target="_blank" title="Download on Google Play" class="google-play" href="https://play.google.com/store/apps/details?id=com.actiongolfers.actiongolf">Google Play</a>
                </div>
            </div>
            <figure><span></span></figure>
        </div>
    </section>
</header>