<header>
    <section>
        <nav>
            <a class="logo" href="./" title="ActionGolfers">ActionGolfers</a>
            <div class="menu">
                <a href="#" class="hamburger m-hide">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <div class="menu-links s-hide">
                    <a href="./" title="Players">Players</a>
                    <a href="organizer.html" title="Organizers">Organizers</a>
                    <a href="nonprofit.html" title="Nonprofits">Nonprofits</a>
                    <a href="schedule-a-demo.html" title="Schedule Demo">Schedule Demo</a>
                </div>
            </div>
        </nav>
    </section>
</header>