<!DOCTYPE HTML>
<html lang="en" class="slim-header">
    <head>
        <title>ActionGolfers | Contact Us</title>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="images/fav.png">
        <link rel="apple-touch-icon" href="images/fav.png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="library/css/actiongolf.css" />
    </head>
    <body>
        <main>
            {{> contact-us}}

        </main>
        <script  src="library/js/actiongolf.js"></script>
    </body>
</html>
